<ifModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit/[0-9]|Twitterbot|Pinterest|Google.*snippet)
	RewriteRule proyecto/(\d*)$ http://ideastecho.apex.la/server/fbtwideastecho.php?id=$1 [P]

	# Required to allow direct-linking of pages so they can be processed by Angular
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !index
	RewriteRule (.*) index.html [L]

</ifModule>