<section class="it-inner-section">
	<div class="container-fluid">
		<!-- AVISO DE PRIVACIDAD -->
		<div class="row m-b-4">
			<div class="it-secccion-div it-bg-primary text-center">
				<h2>Aviso de Privacidad</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p>
			Tu privacidad y confianza son muy importantes para <strong>UN TECHO PARA MI PAIS MEXICO, A.C. (en lo sucesivo “TECHO”)</strong>, con domicilio en Plaza de la República número 51, piso 3, colonia Tabacalera, delegación Cuauhtémoc, código postal 06030, Distrito Federal, México, es por eso que con fundamento en los artículos 15 y 16 de la LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES, su Reglamento y los Lineamientos del Aviso de Privacidad, queremos asegurarnos de que conozcas cómo mantenemos tu privacidad, tanto en las obtención, el uso, protección y tratamiento de tus datos personales.
			</p>

			<h4>Tu información personal será utilizada para:</h4>

			<ol type="a">
				<li>Tener información necesaria para emitir el recibo de deducibilidad correspondiente.</li>
				<li>Para enviar información de las actividades y programas que lleve a cabo TECHO, si así lo solicitas.</li>
			</ol>

			<p>Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: Nombre completo, domicilio, teléfono, correo electrónico, fecha de nacimiento, Registro Federal de Contribuyente.</p>

			<p>La información que nos proporciones para la generación de algún cargo, será enviada directamente a nuestro generador de cobros CONEKTA. La información es cifrada y se utilizará unicamente para el cobro aprobado por el usuario. CONEKTA, cuenta con un aviso de privacidad que podrás consultar en <a href="https://www.conekta.io/es/legal/privacidad" target="_blank">https://www.conekta.io/es/legal/privacidad</a>. Cabe recalcar que haremos todo lo que esté en nuestro alcance para garantizarte la protección de tus datos personales.</p>

			<p>En todo momento, como titular de los datos tienes el derecho de preguntar sobre el tratamiento de tus datos personales, de acuerdo al procedimiento que se indica más adelante.</p>
			<p>La temporalidad del manejo de los Datos Personales será a partir de la fecha en que los hayas proporcionado a TECHO y la que resulte necesaria, adecuada y relevante para la finalidad arriba mencionada y, una vez que hayan dejado de ser necesarios para la misma, serán cancelados; desde luego podrás oponerte en cualquier momento que lo consideres oportuno dando aviso al encargado de su oposición.</p>

			<p>Una vez que entregues a TECHO tus datos personales, éstos serán conservados en diferentes medios seguros que la tecnología permita, cuyo acceso estará limitado solamente a las personas físicas y/o morales con la que TECHO tenga alguna relación. Contamos con las medidas de seguridad que consideramos adecuadas para proteger el uso de sus datos personales por parte de terceros no autorizados. En caso de requerimiento de alguna autoridad, los datos personales podrán oponerse a disposición de éstas, dentro del estricto cumplimiento a la Ley.</p>

			<p>Podrás revocar tu consentimiento en cualquier momento sin que se le atribuyan efectos retroactivos, para lo cual deberás seguir el mismo procedimiento previsto para el ejercicio de los Derechos ARCO en la presente Política de Privacidad, con la salvedad de informar a TECHO en la solicitud, tu deseo de revocar el consentimiento otorgado con anterioridad para el tratamiento de sus Datos Personales.</p>

			<p>Es importante informarte que conforme a la Ley Federal de Protección de Datos Personales en Posesión de Particulares puedes de propio derecho o mediante su representante legal podrán ejercer sus derechos de Acceso, Rectificación y Cancelación de sus datos personales, así como a Oponerse al tratamiento de los mismos o a Revocar el consentimiento que para dicho fin nos haya otorgado (en lo sucesivo “Derechos Arco”).
			Si no manifiestas tu oposición para que tus datos personales sean tratados o transferidos por TECHO, se entenderá que has otorgado tu consentimiento para ello.
			Los derechos que podrás ejercer como titular son los siguientes:</p>
			
			<ol type="a">
				<li>Acceso.- Podrás obtener o solicitar en todo momento información relativa a las condiciones y generalidades del tratamiento de tus datos personales.</li>
				<li>Rectificación.- En caso de que alguno de los datos del titular sea inexacto o incompleto podrás solicitar su corrección, debiendo adjuntar la documentación que acredite dicha modificación.</li>
				<li>Cancelación.- Podrás solicitar en todo momento la cancelación de los datos; en caso de ser procedente la solicitud, los datos entrarán a un período de bloqueo en el cual no podrán ser tratados de ninguna manera para su posterior supresión.</li>
				<li>Oposición.- En todo momento el titular podrá negarse por causa justificada al tratamiento de sus datos personales.</li>
			</ol>

			<p>Para facilitar el ejercicio de los Derechos ARCO, el titular de los datos personales podrá hacerlo a través de enviar un correo a la siguiente dirección datospersonales.mexico@techo.org, en el que deberá acompañar los siguientes datos:</p>
			<ol type="a">
				<li>Nombre completo como titular de los datos y correo electrónico u otro medio para que le comuniquemos la respuesta a su solicitud.</li>
				<li>Los documentos que acrediten su personalidad o, en su caso, a su representante legal.</li>
				<li>La descripción clara y precisa de los datos personales respecto de los que busca ejercer alguno de los derechos antes mencionados.</li>
				<li>Cualquier otro elemento o documento que facilite la localización de sus datos personales.</li>
			</ol>

			<p>En el caso de solicitudes de rectificación de datos personales, el titular de datos personales deberá indicar, además de lo señalado anteriormente, las modificaciones a realizarse y aportar la documentación que sustente su petición.</p>

			<p>TECHO comunicará al titular de datos personales, en un plazo máximo de veinte días hábiles, contados desde la fecha en que se reciba su solicitud, la determinación adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los quince días hábiles siguientes a la fecha en que le comunique la respuesta. Tratándose de solicitudes de acceso a datos personales, procederá la entrega previa acreditación de la identidad del solicitante o representante legal, según corresponda.</p>

			<p>Los plazos antes referidos podrán ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso.</p>

			<p>La obligación de acceso a la información se dará por cumplida cuando se pongan a disposición del titular de los datos personales; o bien, mediante la expedición de copias simples, documentos electrónicos o cualquier otro medio.</p>

			<p>TECHO podrá negarle al titular el acceso a sus datos personales, o a realizar la rectificación, cancelación o conceder la oposición al tratamiento de los mismos, en los siguientes casos:</p>

			<ol type="a">
				<li>Si es el solicitante, pero no el titular de los datos personales, o su representante legal no esté debidamente acreditado para ello.</li>
				<li>Cuando en nuestra base de datos, no se encuentren sus datos personales.</li>
				<li>Cuando se lesionen los derechos de un tercero.</li>
				<li>Cuando exista un impedimento legal, o la resolución de una autoridad competente, que restrinja el acceso a sus datos personales, o no permita la rectificación, cancelación u oposición de los mismos.</li>
				<li>Cuando la rectificación, cancelación u oposición haya sido previamente realizada.</li>
			</ol>

			<p>En todos los casos anteriores, se te informará o en su caso, a tu representante legal debidamente acreditado, el motivo de nuestra decisión y te la comunicaremos, en los plazos establecidos para tal efecto, por el mismo medio por el que se llevó a cabo la solicitud, acompañando, en su caso, las pruebas que resulten pertinentes.</p>

			<p>En caso de haber una contingencia o vulneración en las Medidas de Seguridad establecidas en la presente Política de Privacidad, TECHO por medio de un Aviso de Vulneración, está obligado a informar inmediatamente al titular de los datos de esta situación, para que éste, tome las medidas necesarias para la protección de sus derechos.</p>

			<p>TECHO podrá ocasionalmente actualizar este Aviso de Privacidad. Te alentamos a que revises periódicamente esta declaración para estar informado de cómo TECHO protege tu información.</p>

			<p class="text-center">Fecha de modificación, 17 de febrero de2017.</p>
			
			</div>
		</div>

	</div>
</section>
