<section class="it-inner-section">

	<div class="container-fluid">
		<div id="comoFuncionaAccordion" role="tablist" aria-multiselectable="false">
			<section class="it-mega-accordion">
				<div id="queEsTecho" class="row m-b-4" role="tab">
					<div class="it-secccion-div it-bg-primary text-center">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<a role="button" data-toggle="collapse" data-parent="#comoFuncionaAccordion" href="#queEsTechoContent" aria-expanded="true" aria-controls="queEsTechoContent">
										<h2>¿Qué es TECHO? <span><i class="fa fa-plus-square-o" aria-hidden="true"></i></span></h2>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="queEsTechoContent" class="collapse" aria-expanded="true" role="tabpanel" aria-labelledby="queEsTecho">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 m-b-6 m-t-6">
								<img class="img-responsive" src="images/queEsTECHO.png" alt="¿Qué es TECHO?"/>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="it-mega-accordion">
				<div id="comoFunciona" class="row m-b-4" role="tab">
					<div class="it-secccion-div it-bg-primary text-center">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<a role="button" data-toggle="collapse" data-parent="#comoFuncionaAccordion" href="#comoFuncionaContent" aria-expanded="false" aria-controls="comoFuncionaContent">
										<h2>¿Cómo funciona ideasTecho.ORG? <span><i class="fa fa-plus-square-o" aria-hidden="true"></i></span></h2>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="comoFuncionaContent" class="collapse" aria-expanded="false" role="tabpanel" aria-labelledby="comoFunciona">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/idea.png" alt="">
									<h3 class="it-lg-tag btn-primary">Idea</h3>
									<p>Todo comienza  aquí.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/relativity-formulae.png" alt="">
									<h3 class="it-lg-tag btn-primary">Formulación</h3>
									<p>Con la metodología de TECHO se diseña el proyecto, definiendo su alcance, temporalidad, y necesidades.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/eyeglasses.png" alt="">
									<h3 class="it-lg-tag btn-primary">Revisión</h3>
									<p>Todos los proyectos son sometidos a la revisión de un comité de TECHO conformado por un equipo interdisciplinario que ratifica su viabilidad.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/megaphone.png" alt="">
									<h3 class="it-lg-tag btn-primary">Publicación</h3>
									<p>Si el proyecto es viable y va de acuerdo con la visión de TECHO, el proyecto se publica.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/piggy-bank.png" alt="">
									<h3 class="it-lg-tag btn-primary">Fondeo</h3>
									<p>La campaña de fondeo puede aceptar donaciones de individuos o empresas. Al mismo tiempo el equipo de TECHO busca su financiamiento postulando a distintos fondos nacionales o internacionales, informando siempre que se haya conseguido el financiamiento.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/wrench.png" alt="">
									<h3 class="it-lg-tag btn-primary">Ejecución</h3>
									<p>Los proyectos pueden tener distintos periodos de ejecución, podrás conocer los avances directamente en el perfil del proyecto.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3">
								<div class="it-comofunciona-wrapper text-center">
									<img class="it-comofunciona-icon" src="images/icons/loupe.png" alt="">
									<h3 class="it-lg-tag btn-primary">Transparencia</h3>
									<p>Al concluir la ejecución de un proyecto se publican los resultados.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="it-mega-accordion">
				<div id="preguntasFrecuentes" class="row m-b-4" role="tab">
					<div class="it-secccion-div it-bg-primary text-center">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<a role="button" data-toggle="collapse" data-parent="#comoFuncionaAccordion" href="#preguntasFrecuentesContent" aria-expanded="false" aria-controls="preguntasFrecuentesContent">
										<h2>Preguntas Frecuentes <span><i class="fa fa-plus-square-o" aria-hidden="true"></i></span></h2>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="preguntasFrecuentesContent" class="collapse" aria-expanded="false" role="tabpanel" aria-labelledby="preguntasFrecuentes">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="m-t-6 m-b-6">
									<h2>Publicar proyectos</h2>
									<hr>
								</div>
								<h3 class="m-b-4">¿Quién puede publicar proyectos?</h3>
								<p>Voluntarios de equipos de comunidad, voluntarios de oficina, equipo contratado, empresas y colegios que deseen llevar a cabo un proyecto que cumpla con alguno de los objetivos estratégicos de TECHO.</p>

								<h3 class="m-b-4 m-t-4">¿Cómo formulo mi proyecto?</h3>
								<p>Si eres voluntario de TECHO solicita la metodología sugerida al responsable de tu área o a tu coordinador de comunidad. </p>
 								<p>Si eres una empresa o un colegio y deseas usar la plataforma como una herramienta adicional para crecer tu proyecto de responsabilidad social con TECHO solicita más información con tu ejecutivo de cuenta.</p>
								
								<h3 class="m-b-4 m-t-4">¿Cuándo se publica mi proyecto?</h3>
								<p>Una vez que hayas subido tu proyecto a la plataforma, debe ser revisado por un comité que analiza su factibilidad y decide si puede ser publicado o necesita correcciones, las cuales se te harán saber vía correo electrónico.</p>
								
								<h3 class="m-b-4 m-t-4">¿Cómo hago un video?</h3>
								<p>No importa si lo puedes hacer de manera profesional o con la cámara de tu celular lo más importante es responder 3 preguntas: </p>
								<p>
									<ul>
										<li>¿Por qué? - cuéntanos qué te mueve a impulsar éste proyecto.</li>
										<li>¿Qué? - háblanos de los  resultados esperados.</li>
										<li>¿Cómo? - explica cuales serán los pasos que llevarás a cabo para realizar el proyecto.</li>
									</ul>
									
								</p>

								<h3 class="m-b-4 m-t-4">¿Cómo consigo más fondos?</h3>
								<p>Imagina que tu proyecto es una de tus redes sociales: publica avances significativos que puedan motivar a más personas a sumarse, planea tu campaña, utiliza tus redes sociales personales, apóyate de tus amigos y familiares.</p>

								<h3 class="m-b-4 m-t-4">¿Cómo concluyo un proyecto?</h3>
								<p>Asegúrate de entregar cuentas. Es muy importante que entregues un reporte final explicando los resultados obtenidos, aprendizajes incluidos. La transparencia es muy importante para TECHO, ella nos permite mantener la confianza de quienes hacen posibles los proyectos. </p>
								
								<div class="m-t-6 m-b-6">
									<h2>Fondear proyectos</h2>
									<hr>
								</div>
								
								<h3 class="m-b-4 m-t-4">¿Cómo me registro?</h3>
								<p>Puedes registrarte por medio de tu correo electrónico o con Facebook.</p>

								<h3 class="m-b-4 m-t-4">¿Cómo hago un donativo?</h3>

								<p>Donar es fácil y seguro, puedes hacerlo por medio de tarjeta de crédito o débito. ideastecho.org utiliza un motor de pagos externo que mantiene tu información sensible confidencial. </p>
 								<p>Si eres una empresa y te interesa fondear un proyecto envía un correo a fondos.mexico@techo.org</p>

 								
 								<h3 class="m-b-4 m-t-4">¿Cómo solicito un recibo deducible?</h3>
								<p>Todos los donativos de ideastecho.org son 100% deducibles de ISR; en el proceso de pago puedes elegir la opción “requiero recibo deducible” donde podrás ingresar tus datos fiscales. Una vez reflejado el pago enviaremos tu recibo por correo electrónico dentro de los siguientes 10 días hábiles. </p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!--
				<button class="btn btn-primary" ng-click="setUserDetail()">User Details</button>

				<button class="btn btn-primary" ng-click="updateAreaTecho()">Update Área</button>

				<button class="btn btn-primary" ng-click="getCurrentUser()">Get Current User</button>

				<button class="btn btn-danger" ng-click="showErrorMessage()">ERROR!!</button>
				<button class="btn btn-warning" ng-click="showWarningMessage()">WARNING!!</button>
				<button class="btn btn-info" ng-click="showInfoMessage()">INFO!!</button>
				<button class="btn btn-success" ng-click="showSuccessMessage()">SUCCESS!!</button>
			-->
		</div>
	</div>
</div>
</section>
