<section class="it-inner-section">
	<div class="container-fluid">
		<!-- INGRESA / REGISTRATE VOLUNTARIO -->
		<div class="row m-b-4">
			<div class="it-secccion-div it-bg-primary text-center">
				<h2>Ingresa o regístrate como voluntario</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<p class="text-center">!Hola de nuevo, bienvenido a ideasTecho.org!</p>

				<div class="row m-b-2">
					<div class="col-xs-12 col-sm-8 col-md-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
							
								<div class="row m-b-2 m-t-4">
									<div class="col-xs-10 col-xs-offset-1">
										<form name="loginForm" ng-submit="doLogin()">
											
											<md-input-container class="md-block">
												<input ng-model="login.username" type="text" placeholder="Usuario" ng-required="true">
											</md-input-container>

											<md-input-container class="md-block">
												<input minlength="8" ng-model="login.pass" type="password" placeholder="Contraseña" ng-required="true">
												<a class="pull-right" href="/entrar/olvidecontrasena/">Olvidé mi contraseña</a>
											</md-input-container>


											<div class="text-center">
												<button type="submit" data-ng-disabled="loginForm.$invalid" class="btn btn-primary">Ingresar</button>
											</div>

											<md-input-container class="md-block text-center">
												<md-checkbox ng-model="login.recuerda" aria-label="Recuerdame">
													Recuérdame
												</md-checkbox>
											</md-input-container>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				
				<p class="text-center">Si aún no tienes cuenta, regístrate y apoya grandes ideas</p>

				<div class="row m-b-2">
					<div class="col-xs-12 col-sm-8 col-md-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">

								<div class="row m-b-2 m-t-4">
									<div class="col-xs-10 col-xs-offset-1">
										<form name="registerForm" ng-submit="doVoluntarioRegistration()">
											
											<md-input-container class="md-block">
												<label>Nombre</label>
												<input ng-model="volunteerPrefs.nombre" type="text" ng-required="true">
											</md-input-container>

											<md-input-container class="md-block">
												<label>Apellido Paterno</label>
												<input ng-model="volunteerPrefs.paterno" type="text" ng-required="true">
											</md-input-container>

											<md-input-container class="md-block">
												<label>Apellido Materno</label>
												<input ng-model="volunteerPrefs.materno" type="text">
											</md-input-container>
											
											<md-input-container class="md-block">
												<input ng-model="volunteer.username" type="email" placeholder="Email" ng-required="true">
											</md-input-container>

											<md-input-container class="md-block it-select-container">
												<label>Área de TECHO a la que perteneces</label>
												<md-select ng-model="volunteerPrefs.areatecho" ng-required="true">
													<md-option ng-repeat="area in areastecho" ng-value="area.id">
														{{area.area}}
													</md-option>
												</md-select>
											</md-input-container>

											<md-input-container class="md-block it-select-container">
												<label>Oficina de TECHO a la que perteneces</label>
												<md-select ng-model="volunteerPrefs.oficinatecho" ng-required="true">
													<md-option ng-repeat="oficina in oficinastecho" ng-value="oficina.id">
														{{oficina.oficina}}
													</md-option>
												</md-select>
											</md-input-container>

											<md-input-container class="md-block">
												<input minlength="8" ng-model="volunteer.password1" type="password" placeholder="Contraseña" ng-required="true">
											</md-input-container>

											<md-input-container class="md-block">
												<input minlength="8" ng-model="volunteer.password2" type="password" placeholder="Repetir Contraseña" ng-required="true" md-compare="volunteer.password1">
											</md-input-container>

											<p>NOTA: Al terminar tu registro, nuestro equipo lo revisará para ser aprobado.</p>

											<div class="text-center">
												<md-input-container class="md-block text-left">
													<md-checkbox ng-model="volunteerPrefs.terminos" aria-label="Términos y Condiciones" ng-required="true">
														Acepto <a href="/terminosycondiciones/" style="pointer-events: all">términos y condiciones</a>
													</md-checkbox>
													
													<md-checkbox ng-model="volunteerPrefs.newsletter" aria-label="Newsletter">
														Suscribirte a nuestro newsletter
													</md-checkbox>
													
												</md-input-container>

												<button type="submit" data-ng-disabled="registerForm.$invalid" class="btn btn-primary">Registrate</button>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>