<section class="it-inner-section">
	<div class="container-fluid">
		<!-- GRACIAS -->
		<div class="row m-b-4">
			<div class="it-secccion-div it-bg-primary text-center">
				<h2>¡Muchas gracias por tu donativo!</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 m-t-8 m-b-8 text-center">
				<p class="m-b-4">
					Gracias a ti podemos seguir <strong>transformando</strong> la realidad de muchas más familias que viven en condiciones de pobreza.
				</p>

				<hr>

				<p class="m-t-4">Pudes apoyar más proyectos de manera constante cada mes, siendo <strong>Amigo de TECHO</strong></p>

				<img class="it-amigos-logo" src="images/amigos-techo.png" alt=""/>
				<br>
				<a href="http://amigosdetecho.org/" target="_blank" class="btn btn-primary m-t-6">Ingresar</a>
			</div>
		</div>
	</div>
</section>