<section class="it-inner-section">
	<div class="container-fluid">
		<!-- GRACIAS -->
		<div class="row m-b-4">
			<div class="it-secccion-div it-bg-primary text-center">
				<h2>¡Gracias por registrarte en ideasTECHO.org!</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 m-t-8 m-b-8 text-center">
				<p class="m-b-4">Tu registro esta siendo revisado por nuestros colaboradores.</p>
				<p class="m-t-4">Te notificaremos via mail cuando puedas ingresar a tu cuenta y publicar proyectos.</p>
			</div>
		</div>
	</div>
</section>