<section class="it-inner-section">
	<div class="container-fluid">
		<!-- GRACIAS METLIFE -->
		<div class="row m-b-4">
			<div class="it-secccion-div it-bg-primary text-center">
				<h2>¡Muchas gracias por tu donativo!</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row m-b-10 m-t-6">
			<div class="it-secccion-div it-bg-gray text-center">
				<div class="col-xs-12 col-md-6">
					
					<img class="img-responsive img-center" style="max-height: 120px;" src="images/metlife-foundation.jpg" alt="MetLife Foundation"/>
					
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="m-t-1">
						<img class="img-responsive img-center" style="max-height: 100px;"  src="images/ideas-techo.png" alt="ideas TECHO org"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
				<h3>Metlife Foundation y Techo agradecemos tu apoyo.</h3>
				<h3>Todos juntos transformamos la realidad de familias que viven en condiciones de pobreza.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 m-t-10 m-b-8 text-center">
				
				<img class="img-responsive img-center m-t-8" src="images/todos-techo.png" alt="Todos bajo el mismo TECHO"/>
				
				<div class="m-t-8 m-b-4">
					<p>Comparte con tus amigos que hiciste un donativo a la campaña; invitalos a sumarse:</p>
					<div class="it-social-icons">
						<ul>
							<li>
								<a href="#"
									socialshare
									socialshare-provider="facebook"
									socialshare-text="Colecta 2017 'Dona, Construye, Transforma' MetLife Foundation - TECHO México"
									socialshare-url="https://ideastecho.org/metlife/">

									<i class="fa fa-facebook"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 m-t-8 m-b-8 text-center">
				
				<p class="m-t-4">Pudes apoyar más proyectos de manera constante cada mes, siendo <strong>Amigo de TECHO</strong></p>

				<img class="it-amigos-logo img-responsive img-center" src="images/amigos-techo.png" alt=""/>
				<br>
				<a href="http://amigosdetecho.org/" target="_blank" class="btn btn-primary m-t-6">Ingresar</a>

				<div class="m-t-8 m-b-4">
					<p>Si solicitaste recibo deducible, debe llegarte máximo en una semana al correo electrónico que resgistraste, de lo contrario escribe a: recibos.mexico@techo.org <a href="mailto:recibos.mexico@techo.org" target="_top">recibos.mexico@techo.org</a></p>	
				</div>

				
			</div>
		</div>
	</div>
</section>