<section class="it-inner-section">
	<div class="container-fluid">
		<!-- TERMINOS Y CONDICIONES -->
		<div class="row m-b-4">
			<div class="it-secccion-div it-bg-primary text-center">
				<h2>Términos y Condiciones</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<p>Es importante que conozcas tus derechos y obligaciones, así como las de TECHO.</p>
				<p>Toda participación en este servicio constituirá la aceptación de este acuerdo. Si no acepta cumplir con lo anterior, por favor, no la utilices.</p>

				<p>ideasTECHO es una plataforma de recaudación en línea, cuyo objetivo es permitir a los voluntarios de TECHO la formulación de proyectos comunitarios y la búsqueda de su financiamiento, además, es un espacio en el que empresas y colegios pueden realizar campañas de recaudación de fondos cuyo destino sea el cumplimiento del objeto social de TECHO.</p>
				<p><strong>Para que puedas participar como voluntario, empresa o colegio hay pasos muy sencillos que es importante que sigas</strong>:</p>
				
				<ol>
					<li>Es necesario que crear un perfil de usuario, en donde tendrá que vaciar cierta información.
					No te preocupes por el manejo de la información, tú serás el único que tendrá control sobre lo que pongas y los cambios que desees realizar.
					Para el caso de empresas y colegios, el equipo contratado de TECHO creará los perfiles de usuario. </li>
					<li>
						Envía tu proyecto o campaña y video en la opción “Publica tu proyecto”, este será evaluado por un comité, el cual tomará en cuenta: viabilidad del proyecto, que se encuentre apegado a los valores institucionales y que cumpla con los objetivos estratégicos de TECHO.
					</li>
					<li>El comité encargado de la evaluación del proyecto te enviará un correo, ya sea aprobando o negando el proyecto.</li>
					<li>Una vez que sea aprobado, este podrá ser publicado y visto por todo mundo. Es importante que recuerdes que una vez que el proyecto sea enviado para su aprobación, ya no podrá ser modificado.</li>
				</ol>
				
		 
				<h4>¿Quién podrá ver tu información?</h4>

				<p>Todos los que ingresen a ésta página y estén interesados en donar. Únicamente será pública tu foto de perfil, el monto que se lleve recaudado y la descripción del proyecto.</p>

				<h4>Formas de crear tu perfil:</h4>
				
				<ol>
					<li>Directamente a través de esta página.</li>
					<li>Empresas y colegios contactando al equipo de TECHO al correo daniela.perdomo@techo.org con el asunto IDEASTECHO.</li>
				</ol>	

				<p>Tú serás propietario y responsable de lo que publiques y TECHO es propietario del contenido original, características y funcionalidad de ésta página, ya que están protegidos por derechos de autor internacionales, marcas registradas, patentes, secretos comerciales y demás leyes de propiedad intelectual o de derechos de propiedad
				Al publicar en esta página, significa que das tu consentimiento para que otros puedan ingresar, usen dicha información y la asocien contigo.
				En TECHO haremos todo lo que esté a nuestro alcance para que éste sitio sea un lugar seguro, pero no podemos garantizar ciertos sucesos sobre los que no tendremos control directo para controlar.</p>
				<p>Confiamos en que la información que nos proporcionas es real, por lo que te pedimos no crear un perfil con un nombre, fotografía y en general datos de los cuales no eres el titular.</p>
				<p>TECHO no será responsable por los actos realizadas por usuarios o de terceros que invadan Derechos de Autor, de Propiedad Industrial y/o cualquier otro derecho de terceras personas, por lo que los usuarios se obligan a sacarla en paz y a salvo de cualquier reclamación y/o demanda de la que sea objeto, respecto de cualquier derecho de terceros y a resarcirle los daños o perjuicios que haya sufrido por este concepto.</p>
				
				<h4>¿A qué se destinan los donativos?</h4>
				
				<p>Todos los donativos que realices serán destinados al cumplimiento del objeto social de TECHO, lo que involucra la realización de los proyectos.
				De acuerdo a la legislación aplicable, emitiremos el recibo de donativo correspondiente a la donación, con los requisitos que marca la ley.
				Para TECHO es muy importante tu participación y compromiso, pero es importante que sepas que en caso de que decidas utilizar este sitio, será bajo tu propia responsabilidad, por lo que te pedimos lo uses para el fin que la hemos creado, que es recaudación de fondos para ser destinados al cumplimiento de nuestro objeto social.
				No seremos responsables de cualquier daño o perjuicio resultantes, especiales, indirectos o incidentales derivados de o relacionados con estos términos y condiciones.
				Para efectos del presente, aceptas someterte a la jurisdicción de las leyes y tribunales de la Ciudad de México, Distrito Federal, renunciando desde ahora a cualquier otra jurisdicción que por razón de tu domicilio presente o futuro pudiere corresponderte.</p>

				<h4>Para el donante</h4>
				
				<p>Como donante puedes solicitar un recibo deducible de impuestos al final del proceso de donativo indicando tus datos fiscales. El recibo será enviado en un periodo de 7 días naturales a partir de la fecha en que sea registrado el cobro del donativo.  
				Todos los donativos son cobrados de forma inmediata por Conekta, y depositados periódicamente a la cuenta general de TECHO. Si algún proyecto no pudiera llevarse a su finalización, los fondos serán destinados a proyectos relacionados en temática y región. Si la campaña no alcanza su objetivo de recaudación se analizará la posibilidad de extender el periodo de campaña o igualmente destinar los fondos a proyectos con la misma temática en la región a la que fueron donados. 
				Cualquier duda relacionada con estos Términos y Condiciones puedes contactar a Joaquín Vázquez al correo joaquin.vazquez@techo.org.</p>

				<p class="text-center">ÚLTIMA MODIFICACIÓN: 21 DE FEBRERO DE 2017</p>

			</div>
		</div>


	</div>
</section>
